/* CSS declarations go here */

body {
    padding-top:70px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 200;
}

.fa-circle.connected {
    color:green;
}

.fa-circle.waiting, .fa-circle.connecting {
    color:yellow;
}

.fa-circle.failed {
    color:red;
}

.jumbotron {
    background-color:rgb(155,155,155) !important;
}

.jumbotron p {
    color:white;
}

.jumbotron a {
    color: white !important;
    font-weight:400;
    text-decoration: underline !important;
}

.jumbotron a:hover {
    font-weight: 400;
    text-decoration: none !important;
}

div.team-summary h3 {
    margin-top:0;
}

div.team-summary {
    padding:10px;
    margin-bottom:20px;
    border-radius:5px;
    border:1px solid rgb(200,200,200);
    float:left;
    background:rgb(155,155,155);
}

div.team-summary a, .etc {
    position:relative;
    z-index:1;
    color:white;
    font-family: 'Helvetica Neue', sans-serif;
}

div.team-summary a {
    font-weight: 100;
}

div.team-summary svg, div.team-summary .etc {
    margin-right:20px;
    float:left;
}

input[type=text] {
    line-height:2.4em;
    height:2.4em;
}

div.focus {
    position:relative;
    width:100%;
    margin-bottom:20px;
    border-radius:5px;
    border:1px solid rgb(200,200,200);
    float:left;
    background:rgb(155,155,155);
}
div.focus h3, div.focus p, div.focus button {
    position:relative;
    z-index:1;
}

div.completion {
    position:absolute; top:0; bottom:0;
}

div.countdown {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight:200;
    padding: 0px 10px;
    position:relative;
    z-index:1;
    font-size: 72px;
    color:white;
}

div.members {
    text-align:center;
}

a.member {
    margin-top: 10px;
    margin-right:10px;
}

div.clear {
    clear:both;
}